{% extends "base.html" %}

{% block content %}

    
        <div class="contact">
        <h6>CONTACT ME</h6>
        
        <div class="info">
            <i class="fa fa-user"></i>
            <input type="text" id="info" placeholder="First Name">
        </div>
       
        <div class="info">
            <i class="fa fa-user"></i>
            <input type="text" id="info" placeholder="Last Name">
        </div>

        <div class="info">
            <i class="fa fa-envelope-o"></i>
            <input type="text" id="info" placeholder="Email">
        </div>

        <div class="info">
            <i class="fa fa-pencil"></i>
            <input type="text" id="info" placeholder="Message">
        </div>
        
        <div class="info">
            <i class="fa fa-phone"></i>
            <input type="text" id="info" placeholder="Phone">
        </div>

        <button type="submit" class="send" id="submit">Send</button>
    </div>

{% endblock %}    
